/* .header{
  
  background-image: linear-gradient(180deg,#07f8cc80,#07f8cc00);
  
  
  
}

.logo {
    
    align-items: center;
    height: 3em;
    margin: 0 auto;
    display: block;
    margin-right: 1.1rem;
  }
  
  .services-dropdown {
    display: none; 
    position: absolute;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    z-index: 1;
  }
  
  .nav-services:hover .services-dropdown {
    display: block; 
  }

  .nav {
    background-image: linear-gradient(291deg,#349117,#6a6a6a00);
    padding: 1rem 33rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    
  }
  
  .navlink {
    color: #000;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    margin-right: 11px;
    background-color:#ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    
  }
  
  
  .navlink:hover {
    color: #ffffff;
    background-color: rgb(45, 152, 65);
  } */

  
  
  .section
  {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px;
  min-width: 100%;
  }



  .header{

    position: absolute;
    top: 7px;
    right: 150px;
    left: 200px;
    padding: -10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    min-height: 100px;
  }

  .header .logo{

    width: 285px;
    
  }

  .header ul{

    display: flex;

  }

  .header ul li{

    list-style: none;
    margin: 0 10px;
  
  }

  .header ul li a{

    text-decoration: none;
    font-weight: 500;
    color: black;
    padding: 8px 5px;
    border-radius: 25px;

  }

  .header ul li a:hover,.active{

    background: #34911724;
    box-shadow: 24%


  }

  



