
  
  .section
  {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px;
  min-width: 100%;
  }



  .header{

    position: absolute;
    top: 5%;
    right: 150px;
    left: 200px;
    padding: -10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    min-height: 100px;
    min-width: 100px;
  }

  .header .logo{

    width: 285px;
    
  }

  .header ul{

    display: flex;

  }

  .header ul li{

    list-style: none;
    margin: 0 10px;
  
  }

  .header ul li a{

    text-decoration: none;
    font-weight: 500;
    color: #196333;
    padding: 8px 5px;
    border-radius: 25px;

  }

  .header ul li a:hover{

    background: #34911724;
    box-shadow: 24%


  }

  .a:active{

    background: #000000;

  }




  .content{

    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.01);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    padding: 40px;
    min-height: 90x;
    padding-left: 1px;
    
    

  }

  .content h2{

    font-size: 3em;
    color: #196333;

  }

  .content p{

    font-size: 1.2em;
    color: #196333;

  }

  .content a{

    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #196333;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.);

  }






