@import url('https://fonts.googleapis.com/css?family=Poppins: 200, 300, 400, 500, 600, 700, 800, 900&display=swap');
*
{
font-family: 'Poppins', sans-serif;
}

html,
body {
  background: #ffffff;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
 /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    */
}

* {
  box-sizing: border-box;
}

main {

  background: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.section
{

  min-height: 170rem;
  display: flex;
    flex-direction: column-reverse;
}

.container1{

 
  box-shadow: inset 0 5px 23px rgba(0, 0, 0, 0.31);
  position: relative;
  position: absolute;
  top: 82px;
  left: 175px;
  width: calc(76rem);
  min-height: calc(100vh - 280px);
  min-height: 475px;
  border-radius: 20px;
  justify-content: flex-start;
  align-content: stretch;
  flex: 1;
  backdrop-filter: blur(10px);
  min-width: 80%;
  background-color: wh;


}

.container3{

 
  box-shadow: inset 0 5px 23px rgba(0, 0, 0, 0.31);
  position: relative;
  position: absolute;
  top: 39rem;
  left: 175px;
  width: calc(76rem);
  min-height: calc(100vh - 280px);
  min-height: 475px;
  border-radius: 20px;
  justify-content: flex-start;
  align-content: stretch;
  flex: 1;
  backdrop-filter: blur(10px);
  min-width: 80%;


}





.content{

  transform: translateX(-100px);
    position: absolute;
    top: 163px;
    left: 15rem;
    max-width: 700px;
    box-shadow: 0 15px 30px rgb(0 0 0 / 31%);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-left: 3px solid hsl(0deg 0% 100%);
    border-top: 10px solid hsl(0deg 0% 100% / 63%);
    border-color: hsl(0deg 0% 100% / 25%) hsla(0,0%,100%,0.25) hsl(0deg 0% 100% / 25%) hsl(0deg 0% 100% / 25%);
    border-style: solid;
    border-width: 3px;
    padding: 17rem 26rem 40px 110px;
    min-height: 100x;

}

.buttoms .Consultas{


  position: absolute;
  left: 1rem;
  top: 10rem;
  font-size: 17px;
}


.buttoms .Resultados{

  position: absolute;
  left: 17rem;
  top: 10rem;
  font-size: 17px;

}

.buttoms .Consultas:hover{

  background-color: #196333;
  color: #ffffff;
  transition: background-color 0.3s

}


.buttoms .Resultados:hover{

  background-color: #196333;
  color: #ffffff;
  transition: background-color 0.3s
}

.buttoms{


  display: flex;

}



.content h2{

  font-size: 41px;
  position: absolute;
  top: -1rem;
  left: 2rem;
  color: #196333;
}

.content p{

  font-size: 1.2em;
  color: #196333;
  position: absolute;
  top: 4rem;
  left: 2rem;
  
}

.content a{

  display: flex;
  padding: 15px 30px;
  background: #fff;
  color: #196333;
  margin-top: 20px;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}


.imgBx img
{
max-width: 400px;
animation: animate 5s linear infinite;
position: absolute;
top: -23px;
left: 48rem;
}
@keyframes animate
{
0%,100%
{
transform: translateY(50px);
}
50%
{
transform: translateY(20%);
}
}

.container2{

 
  box-shadow: inset 0 5px 23px rgba(0, 0, 0, 0.31);
  position: absolute;
  top: 122rem;
  left: 175px;
  width: calc(76rem);
  min-height: calc(100vh - 280px);
  min-height: 465px;
  border-radius: 20px;
  justify-content: flex-start;
  align-content: stretch;
  flex: 1;
  min-width: 80%;
  

}

.container2 h2 {
  position: absolute;
  top: 2rem;
  left: 27rem;
  font-size: 34px;
  color: #196333;
}



  .img1{
   
    width: 130px;
    position: absolute;
    top: 98px;
    left: 98px;
    

  }

  
.social-menu{

  position: relative;
  display: flex;
  top: 15rem;
  left: 18rem;
  
  
}

.social-icon a {

  display: inline-block;
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 50%;
  text-align: center;
  margin: 0 50px;
  box-shadow: 0 4px 4px rgba(0,0,0, .3);

}
.social-icon a i{

  font-size: 40px;
  color: #000;
  line-height: 120px;

}

.social-icon span{

  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 16px;

  transition: .3s;


}

.social-icon{

  position: relative;

}

.social-icon:hover span{

  transform: translate(-50%, 90%) scale(1);

}

.social-icon:hover a{

  transform: translateY(-6px) scale(1.2);
  margin: 0 50px;
  transition: .2s;

}

.social-icon:hover a i{

  color: white;

}

.social-icon:nth-child(1):hover a {


  background: #e80606;

}

.social-icon:nth-child(2):hover a {


  background: linear-gradient(-135deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C,#FD1D1D,#F56040,#F77737,#FCAF45, #FFDC80);
}

.social-icon:nth-child(3):hover a {


  background: #0795cd;

}




  

  

  .swiper {
    width: 100%;
    height: 475px;
    border-radius: 20px;
  }


  .swiper-slide img {
    
    width: 100%;
  
  }

  .swiper-text {
    position: absolute;
    top: 7rem;
    left: 6rem;
    color: #ffffff;
    font-size: 60px;
    -webkit-text-stroke: 0.1px rgb(255, 255, 255);
    font-family: Verdana, sans-serif; /* Añade Verdana como la fuente preferida, y sans-serif como una fuente de respaldo */
}




  img {
    max-width: 100%;
    height: auto;
  }

  
  .container4{

    top: 83rem;
    position: absolute;

  }

  .container4 h2{

    top: -2rem;
    left: -35rem;
    position: absolute;
    font-size: 52px;
    color: #196333;

  }

  .container4 p{


    position: absolute;
    top: 7rem;
    left: -36rem;
    font-size: 19px;
    

  }
  .container4 img {
    position: absolute;
    top: -3rem;
    left: 5rem;
    max-width: 450px;
}


