html,
body {
  background: #ffffff;
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {

  background: #ffffff;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}






.fondo{

 background-color: #ffffff;


}

.wrp{

  width: 100%;
  height: 25rem;
  position: relative;

}

.portada{

  width: 100%;
  height: 350px;
  background-image: url("/index.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.contenido{

  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

}

.contenido .info{

  width: 100%;
  max-width: 750px;
  text-align: center;

}

.contenido .info h1{

  color: #ffffff;
  font-size: 50px;
  text-shadow: 0px 1px 10px rgba(0,0,0,0.4);
  margin-bottom: 25px;
  letter-spacing: 1px;

}




.wrp2{

  width: 100%;
  height: 25rem;
  position: relative;

}

.portada2{

  width: 100%;
  height: 350px;
  background-color: rgb(33, 104, 52);
  background-attachment: fixed;
  background-size: cover;
  background-image: url("/index2.jpg");

}

.contenido2{

  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

}

.contenido2 .info2{

  width: 100%;
  max-width: 750px;
  text-align: left;

}

.contenido2 .info2 h1{

  color: #ffffff;
  font-size: 30px;
  text-shadow: 0px 1px 10px rgba(0,0,0,0.4);
  margin-bottom: 25px;
  letter-spacing: 1px;

}




